/*body{
    background: rgb(20,247,241);
    background: -moz-linear-gradient(90deg, rgba(20,247,241,0.11808473389355745) 2%, rgba(254,255,0,0.0984768907563025) 46%, rgba(245,255,0,0.0760679271708683) 95%);
    background: -webkit-linear-gradient(90deg, rgba(20,247,241,0.11808473389355745) 2%, rgba(254,255,0,0.0984768907563025) 46%, rgba(245,255,0,0.0760679271708683) 95%);
    background: linear-gradient(90deg, rgba(20,247,241,0.11808473389355745) 2%, rgba(254,255,0,0.0984768907563025) 46%, rgba(245,255,0,0.0760679271708683) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#14f7f1",endColorstr="#f5ff00",GradientType=1);
}*/